# Prerequisites
*.d

# Object files
*.o
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Libraries
*.lib
*.a
*.la
*.lo

# Executables
*.out
*.axf
*.hex

# Generated output
.clangd
*.cbuild-idx.yml
**/tmp
**/out
*.cbuild.yml
*.cprj
